## Python Function

### built in function

### print

In [6]:
x = 3
y = 5
print('The value of x is ', x,' and y is ', y )

The value of x is  3  and y is  5

In [3]:
print('hello', 'world', sep='-')

hello-world

In [5]:
print('hello', 'world!', end=' ')
print('welcome', end=' ')

hello world! welcome

### type

In [13]:
print(type({ 'name': 'Henry', 'age': '39' }))

<class 'dict'>

In [12]:
print(type([1, 2, 3, 4]))
lst = [1, 2, 3, 4]
print(type(lst))

<class 'list'>
<class 'list'>

### input
returns string

In [28]:
num = input("enter a num:")

enter a num: 12

In [29]:
num

'12'

In [30]:
int(num)

12

### len()

In [32]:
string = "hello, world!"
print(len(string))

13

In [34]:
lst = [1, 2, 3, 4] #list, tuple, set, dict, string
print(len(lst))

4

### Open

In [39]:
file = open("message.txt", "w+")
file.write("This is a test for writing content into a file!")
contents = file.read()
print(contents)
file.close()

In [40]:
file = open("message.txt", "r")
contents = file.read()
print(contents)
file.close()

This is a test for writing content into a file!

### dir()
list out all the attributes and methods of the function

In [42]:
x = "hello"
print(dir(x))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### enumerate()
used in iterables

In [43]:
names = [ 'alice', 'bob', 'charlie' ]
for name in enumerate(names):
    print(name)

(0, 'alice')
(1, 'bob')
(2, 'charlie')

In [47]:
for i, name in enumerate(names, start = 2):
    print(i, name, sep=':')

2:alice
3:bob
4:charlie

In [44]:
list(enumerate(names))

[(0, 'alice'), (1, 'bob'), (2, 'charlie')]

### Zip()

In [55]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c']
list3 = ['x', 'y', 'z']

In [56]:
list(zip(list1, list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [57]:
list(zip(list1, list2, list3))

[(1, 'a', 'x'), (2, 'b', 'y'), (3, 'c', 'z')]

In [53]:
for a in zip(list1, list2):
    print(a)

(1, 'a')
(2, 'b')
(3, 'c')

In [58]:
for l1, l2 in zip(list1, list2):
    print(l1, end=":")
    print(l2)

1:a
2:b
3:c

### Map 
map(function, iterable)

In [2]:
my_list = [ 1, 2, 3, 4]

map_obj = map(lambda x: x**2, my_list)

In [3]:
[a for a in map_obj]

[1, 4, 9, 16]

In [4]:
string_list = ["1", "2", "3", "4", "5"]
int_list = list(map(int, string_list))
print(int_list)

[1, 2, 3, 4, 5]

### Reduce
reduce(function, iterable, initializer)

In [17]:
from functools import reduce

my_list = [1, 2, 3, 4, 5]

product = reduce(lambda x, y: x*y, my_list)
print(product)

120

In [18]:
from functools import reduce

my_list = [1,5,8,4,7]
initial_value = 10

product = reduce(lambda x, y: x * y, my_list, initial_value)
print(product)

11200

### filter
filter(function, iterable)

In [19]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

filtered_list = list(filter(lambda x: x % 2 == 0, my_list))
print(filtered_list)

[2, 4, 6, 8]

In [20]:
my_list = ['', 'spam', '', 'eggs', '', 'spam']

filtered_list = list(filter(lambda x: x != '', my_list))
print(filtered_list)

['spam', 'eggs', 'spam']

### User Defined Function

In [61]:

def add_nmbers(a, b):
    _sum = a + b
    return _sum

In [62]:
result = add_nmbers(2, 3)
print(result)

5

In [131]:
def my_printer(*args, **kwargs):
    print("Positional arguments:")
    for arg in args:
        print(arg)

    print("-"*20)

    print('keyword arguments:')
    print(kwargs)
    for key, value in kwargs.items():
        print(key, '=', value)

result = my_printer(1, 'hello', 'ram', age=22, city='Newyrok')
print(result)

Positional arguments:
1
hello
ram
--------------------
keyword arguments:
{'age': 22, 'city': 'Newyrok'}
age = 22
city = Newyrok
None

In [79]:
def mean_error(*error):
    total = sum(error)
    mean = total/len(error)
    return mean

In [91]:
print(mean_error(*[1, 2, 3, 4, 5, 6, 7, 8.22]))

4.5275

In [101]:
def create_model(name, **kwargs):
    moedl_name = name
    model_size = kwargs['size']
    model_type = kwargs.get('type','M.T')

    return {name: f"{model_type}_{model_size}"}

In [102]:
create_model("X6Boost", size = 4000, shape = (22, 33, 1))

{'X6Boost': 'M.T_4000'}

In [103]:
create_model("X6Boost", size = 4000, type = 'HMac', shape = (22, 33, 1))

{'X6Boost': 'HMac_4000'}

In [104]:
# Documentation in function

In [105]:
# docstring in numpy

In [120]:
def square(n):
    '''
    Find a square of any given number

    Paramater:
    ----------
    n: int or float
    User input number

    Return:
    -------
    return the square of input number
    '''
    return n**2

In [121]:
square(2)

4

In [122]:
print(square.__doc__)

    Find a square of any given number

    Paramater:
    ----------
    n: int or float
    User input number

    Return:
    -------
    return the square of input number

In [135]:
def power(base: int, exp=2):
    '''
    The function calculates the base raised to power exp

    Parameters:
    base: int
    exp: int, default = 2

    Return:
    returns base raised to power exp
    '''
    return base**exp

print(power(3, 3))
print(power(3))

27
9

### recurssive function

In [129]:
def fibonacci(n):
    # Base cases
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        # Recursive case
        return fibonacci(n-1) + fibonacci(n-2)

# Call the function with n = 5
result = fibonacci(10)

# Print the result
print(result)

55

In [139]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)


print(fibonacci(3))

2

In [140]:
# lamda expression

In [142]:
add = lambda a, b: a + b

print(add(2, 4))

6

In [143]:
numbers = [1, 2, 3, 4, 5]
double = list(map( lambda x: x*2 , numbers))

print(double)

[2, 4, 6, 8, 10]

In [146]:
area = lambda l, b, h: 2*h*(l+b)

print(area(10,12,13))

572