# int, float, str, type and type conversion, complex numbers, arithmetic operations,

In [2]:
x = 2
y = 3.125
z = "Hari"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [4]:
a = float(x)
print(a)
print(type(a))
b = int(y)
print(b)
print(type(b))

2.0
<class 'float'>
3
<class 'int'>

In [5]:
c = complex(4, -2)
d = -2 + 3j
e = c + d
print(e)

(2+1j)

In [6]:
print(type(e))

<class 'complex'>

# floor division, modular, power, comparison
# math functions, power, combination, factorial, round, square root, absolute value

In [8]:
a = 2**3
print(a)
b = a // 2
c = a % 2
print(b, c)

8
4 0

In [10]:
import math
from math import factorial
print(factorial(4))

24

In [18]:
print(math.pi)
print(pow(3,2))
print(math.comb(5,2))
print(round(math.pi, 3))
print(round(5+math.pi, -1))
print(math.sqrt(16))
print(abs(-3))

3.141592653589793
9
10
3.142
10.0
4.0
3

In [19]:
# log, sin, lcm, maximum, pi, e,

In [23]:
print(math.log(100))

4.605170185988092

In [28]:
print(math.lcm(2, 5, 6, 7))
print(max(2, 5, 6, 7, 95))
print(math.sin(45))

210
95
0.8509035245341184

# str, capitalize, lower, upper, srtip, replace split endswith

In [35]:
x = "Hello, World!"
y = "hello, world"

print(y.capitalize())
print(x.lower())
print(y.upper())

z = "   hello hello"

print(z.strip())
print(z.replace("h", "m"))
print(x.split(" "))
print(x.endswith("!"))

Hello, world
hello, world!
HELLO, WORLD
hello hello
   mello mello
['Hello,', 'World!']
True

# slicing, formatting, concatenation

In [43]:
x = "Hi, How are you?"
print(x[::-1])
print(x[2:8:2])
name = "Mechile"
age = 30
print(f"My name is {name} and my age is {age}")
print("My name is {} and my age is {}".format(name, age))
print("My name is {0} and my age is {1}".format(name, age))
print("My name is {1} and my age is {0}".format(name, age))

?uoy era woH ,iH
,Hw
My name is Mechile and my age is 30
My name is Mechile and my age is 30
My name is Mechile and my age is 30
My name is 30 and my age is Mechile

In [40]:
x = "Hi"
y = "how are you?"
z = f"{x} {y}"
print(z)
a = x + " " + y
print(a)
print(x*4)

Hi how are you?
Hi how are you?
HiHiHiHi

# Sequence type
## list

In [1]:
# accessing, slicing, range, modifying(append, insert, remove, pop, clear)

In [2]:
print(x[::-1])
print(x[0:3])
y = list(range(0, 51))
print(y)
x.append(9)
print(x)
x.insert(5, "apple")
print(x)
x.remove("apple")
print(x)
a = x.pop()
print(z, a)
x.clear()
print(x)

[8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 'apple', 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
3 9
[]

In [3]:
# list methods( sort, reverse, index, count)

In [14]:
x = [12, 43, 112, 12, 112, 43, 112, 23, 43, 12, 12, 5, 6, 12, 37, 112, 8]
x.sort()
print(x)
x.sort(reverse = True)
print(x)

[5, 6, 8, 12, 12, 12, 12, 12, 23, 37, 43, 43, 43, 112, 112, 112, 112]
[112, 112, 112, 112, 43, 43, 43, 37, 23, 12, 12, 12, 12, 12, 8, 6, 5]

In [15]:
x.reverse()
print(x)

[5, 6, 8, 12, 12, 12, 12, 12, 23, 37, 43, 43, 43, 112, 112, 112, 112]

In [17]:
print(x.count(12))
print(x.index(12))

5
3

## tuple
immutable

In [52]:
# accessing, slicing, 
# methods, count, index

In [54]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[0:3:1])
print(my_tuple.count(1))
print(my_tuple.index(3))

(1, 2, 3)
1
2

### Set type

In [20]:
set1 = { 1, 2, 3, 4 }
set2 = { 3, 4, 5, 6}

set3 = set1.union(set2)
print(set3)
set3= set1.intersection(set2)
print(set3)
set3 = set1.difference(set2)
print(set3)
set3 = set1.symmetric_difference(set2)
print(set3)

set1.add(0)
print(set1)
set1.remove(0)
print(set1)
set1.discard(0)
print(set1)
x = set1.pop()
print(x)
set1.clear()
print(set1)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}
{0, 1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}
1
set()

### Mapping Type

In [35]:
# Creation 2
person = dict({ "name": "Mark", "age": "30", "city":"Newyork"})
print(person)
person = { "name": "Mark", "age": "30", "city": "Newyork"}
print(person)

{'name': 'Mark', 'age': '30', 'city': 'Newyork'}
{'name': 'Mark', 'age': '30', 'city': 'Newyork'}

In [36]:
# accessing 2

print(person["name"])
print(person.get("gender", "male"))

Mark
male

In [37]:
# modifying 3

person["name"] = "July"
print(person)
person["gender"] = "female"
print(person)
del person["city"]
print(person)

{'name': 'July', 'age': '30', 'city': 'Newyork'}
{'name': 'July', 'age': '30', 'city': 'Newyork', 'gender': 'female'}
{'name': 'July', 'age': '30', 'gender': 'female'}

In [38]:
# methods 4
print(person.keys())
print(person.values())
print(person.items())
x = person.pop("gender", "N/A")
print(x)
print(person)
p = person.copy()
print(p)
person.clear()
print(person)

dict_keys(['name', 'age', 'gender'])
dict_values(['July', '30', 'female'])
dict_items([('name', 'July'), ('age', '30'), ('gender', 'female')])
female
{'name': 'July', 'age': '30'}
{'name': 'July', 'age': '30'}
{}

### Boolean type

In [39]:
# <, >, and, or, not

In [41]:
a = 2
b = 3
c = a < b
d = a > b
print(c)
print(d)
print(not c)
print( c or d)
print(c and d)

True
False
False
True
False

In [40]:
st = "hello, world!"
empty_st = ""
num = 12
zeroNum = 0
lst = [ 'apple', 2, True]
empty_lst = []
dic = { "name": "Harry", "age": 30 }
empty_dic = {}
obj = object()
empty_obj = None

print(bool(st))
print(bool(empty_st))
print(bool(num))
print(bool(zeroNum))
print(bool(lst))
print(bool(empty_lst))
print(bool(dic))
print(bool(empty_dic))
print(bool(obj))
print(bool(empty_obj))

True
False
True
False
True
False
True
False
True
False

### Binary type

In [49]:
b = b'\x00\x01\x02\x03\x04'

b = bytes(b) #should pass encodes string not normal string
print(b)

ba = bytearray(b)
print(ba)

b'\x00\x01\x02\x03\x04'
bytearray(b'\x00\x01\x02\x03\x04')

In [50]:
l = [1,2,3,4]

b = bytes(l)
ba = bytearray(l)
print(b, ba)

b'\x01\x02\x03\x04' bytearray(b'\x01\x02\x03\x04')

In [51]:
print(b[0])
print(b[1])
print(ba[0])
print(ba[1])

1
2
1
2

In [53]:
string = "Hello, World!"

e = string.encode()
print(e)

t = e.decode()
print(t)

b'Hello, World!'
Hello, World!

In [61]:
string = "résumé"

e = string.encode('ascii')
print(e)

t = e.decode('ascii')
print(t)

UnicodeEncodeError: 'ascii' codec can't encode character '\xe9' in position 1: ordinal not in range(128)

In [60]:
string = "résumé"


e = string.encode('utf-8')
print(e)

t = e.decode('utf-8')
print(t)

b'r\xc3\xa9sum\xc3\xa9'
résumé

In [54]:
l = [1,2,3,4]

b = bytes(l)
ba = bytearray(l)

print(b.hex())
print(ba.hex())

01020304
01020304

### Conditional Statements

In [62]:
a = 39
if a % 2 == 0:
    print("Even")
else: 
    print("Odd")

Odd

In [63]:
if a > 0:
    print("positive number")
    if a > 50:
        print("large positive")
    else:
        print("small positive")
elif a < 0:
    print("Negative number")
else:
    print("Zero")

positive number
small positive

In [68]:
lst = [ ]
if bool(lst):
    print(lst)
else:
    lst.append("a")
    print(lst)

['a']

### Loop Statements

In [77]:
# for loop

In [69]:
num = int(input("Enter a number: "))
for i in range (1,11):
    print(f" {i} * {num} = {i*num}")

Enter a number:  12

 1 * 12 = 12
 2 * 12 = 24
 3 * 12 = 36
 4 * 12 = 48
 5 * 12 = 60
 6 * 12 = 72
 7 * 12 = 84
 8 * 12 = 96
 9 * 12 = 108
 10 * 12 = 120

In [76]:
adj = [ "jucy", "red", "big"]
fruits = ["apple", "orange", "cherry", "banana"]

for a in adj:
    for fruit in fruits:
        print(a, fruit)

jucy apple
jucy orange
jucy cherry
jucy banana
red apple
red orange
red cherry
red banana
big apple
big orange
big cherry
big banana

In [79]:
num = int(input("Enter a number:"))
summation = 0
for i in range(1,num+1):
    summation += i
print(summation)

Enter a number: 12

78

In [80]:
# while loop

In [1]:
i = 1
while i < 11:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [4]:
i = 1
while i < 20:
    if i > 10:
        break
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [6]:
i = 0
while i <= 19:
    i += 1
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [8]:
i = 1
while i <= 20:
    if i % 2 == 0:
        i += 1
        continue
    print(i)
    i += 1

1
3
5
7
9
11
13
15
17
19

In [9]:
i = 1
num = int(input("Enter a number:"))
while i < 11:
    print(f" {i} * {num} = {i*num}")
    i += 1

Enter a number: 12

 1 * 12 = 12
 2 * 12 = 24
 3 * 12 = 36
 4 * 12 = 48
 5 * 12 = 60
 6 * 12 = 72
 7 * 12 = 84
 8 * 12 = 96
 9 * 12 = 108
 10 * 12 = 120

In [3]:
num = int(input("Enter a number:"))
i = 1
summation = 0
while i <= num:
    summation += i
    i += 1
print(summation)

Enter a number: 21

231

### Comprehensions
list comprehension

In [6]:
even_squared = [ i**2 if i % 2 == 0 else 0 for i in range(1,41) ]
print(even_squared)

[0, 4, 0, 16, 0, 36, 0, 64, 0, 100, 0, 144, 0, 196, 0, 256, 0, 324, 0, 400, 0, 484, 0, 576, 0, 676, 0, 784, 0, 900, 0, 1024, 0, 1156, 0, 1296, 0, 1444, 0, 1600]

In [8]:
odd = [ i for i in range(1,40) if i % 2 != 0 ]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [13]:
adj = [ 'red', 'jucy', 'big' ]
fruits = [ 'apple', 'mango', 'banana', 'cherry' ]

result = [ (a, fruit) for a in adj for fruit in fruits ]
print(result)
result0 = [ f"{a} {fruit}" for a in adj for fruit in fruits ]
print(result0)

[('red', 'apple'), ('red', 'mango'), ('red', 'banana'), ('red', 'cherry'), ('jucy', 'apple'), ('jucy', 'mango'), ('jucy', 'banana'), ('jucy', 'cherry'), ('big', 'apple'), ('big', 'mango'), ('big', 'banana'), ('big', 'cherry')]
['red apple', 'red mango', 'red banana', 'red cherry', 'jucy apple', 'jucy mango', 'jucy banana', 'jucy cherry', 'big apple', 'big mango', 'big banana', 'big cherry']

In [17]:
words = ['data', 'science', 'machine', 'learning']

length = [ len(set(word)) for word in words ]
print(length)

[3, 5, 7, 7]

In [18]:
words = ['data', 'science', 'machine', 'learning', 'learning', 'learning']

length = [ len(word) for word in set(words) ]
print(length)

[7, 8, 7, 4]

In [20]:
input_list = [-2, -1, 0, 1, 3, 2, 3, 4]

positive_doubled = [ i*2 if i > 0 else i for i in input_list ]
print(positive_doubled)

[-2, -1, 0, 2, 6, 4, 6, 8]

In [25]:
# set comprehension

In [21]:
numbers = [1, 2, 3, 4, 5]
odds_set = {num ** 2 for num in numbers if num % 2 != 0}
print(odds_set)

{1, 9, 25}

In [24]:
sent = "I love Machine Learning"
vowels = set("aeiou")

vowels_list = { char for char in set(sent.lower()) if char in vowels }
print(vowels_list)

{'i', 'o', 'a', 'e'}

In [26]:
# dictionary comprehension

In [29]:
numbers = [1, 2, 3, 4, 5]

odd_dict = { num: num**2 for num in numbers if num % 2 != 0 }
print(odd_dict)

{1: 1, 3: 9, 5: 25}

In [31]:
word = 'hello'
letter_count = { letter: word.count(letter) for letter in set(word) }
print(letter_count)

{'h': 1, 'o': 1, 'l': 2, 'e': 1}

In [32]:
word=['data','science','machine','learning']

letter_count = { wd: len(wd) for wd in word }
print(letter_count)

{'data': 4, 'science': 7, 'machine': 7, 'learning': 8}

In [33]:
word=['data', 'science', 'machine', 'learning', 'Deep', 'Python', 'dict']

letter_count = { wd: len(wd) for wd in word if len(wd) >= 5 }
print(letter_count)

{'science': 7, 'machine': 7, 'learning': 8, 'Python': 6}

### Functions

In [34]:
# built in functions

In [36]:
a = 'hello'
b = 'world'
print(a, b, sep='-', end=' ')
print(a, a, a, end=' ')
print(a, a, a)

hello-world hello hello hello hello hello hello

In [38]:
print(type({ 'h': 'hello', 'e': 'ello' }))

<class 'dict'>

In [39]:
print(type(True))

<class 'bool'>

In [40]:
x = int(input('enter a number:'))

enter a number: 12

In [41]:
print(len({ 'h': 'hello', 'e': 'ello' }))

2

In [43]:
file = open(file='message.txt', mode='w')
file.write("This is test message for open() function")
file.close()

In [44]:
file = open(file='message.txt', mode='r')
contents = file.read()
print(contents)
file.close()

This is test message for open() function

In [46]:
list1 = [ 1, 2, 4]
print(dir(list1))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [47]:
names = ["Alice", "Bob", "Charlie"]

for i, name in enumerate(names):
    print(i, name, sep = ':')

0:Alice
1:Bob
2:Charlie

In [49]:
for i, name in enumerate(names, start = 1):
    print(i, name, sep=':')

1:Alice
2:Bob
3:Charlie

In [50]:
list1 = [1, 2]
list2 = ['a', 'b','c']
list3 = ['z', 'x']

for l1, l2, l3 in zip(list1, list2, list3):
    print(l1, end=":")
    print(l2, end=":")
    print(l3)

1:a:z
2:b:x

In [51]:
print(list(zip(list1, list2, list3)))

[(1, 'a', 'z'), (2, 'b', 'x')]