# int, float, str, type and type conversion, complex numbers, arithmetic operations,

In [2]:
x = 2
y = 3.125
z = "Hari"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [4]:
a = float(x)
print(a)
print(type(a))
b = int(y)
print(b)
print(type(b))

2.0
<class 'float'>
3
<class 'int'>

In [5]:
c = complex(4, -2)
d = -2 + 3j
e = c + d
print(e)

(2+1j)

In [6]:
print(type(e))

<class 'complex'>

# floor division, modular, power, comparison
# math functions, power, combination, factorial, round, square root, absolute value

In [8]:
a = 2**3
print(a)
b = a // 2
c = a % 2
print(b, c)

8
4 0

In [10]:
import math
from math import factorial
print(factorial(4))

24

In [18]:
print(math.pi)
print(pow(3,2))
print(math.comb(5,2))
print(round(math.pi, 3))
print(round(5+math.pi, -1))
print(math.sqrt(16))
print(abs(-3))

3.141592653589793
9
10
3.142
10.0
4.0
3

In [19]:
# log, sin, lcm, maximum, pi, e,

In [23]:
print(math.log(100))

4.605170185988092

In [28]:
print(math.lcm(2, 5, 6, 7))
print(max(2, 5, 6, 7, 95))
print(math.sin(45))

210
95
0.8509035245341184

# str, capitalize, lower, upper, srtip, replace split endswith

In [35]:
x = "Hello, World!"
y = "hello, world"

print(y.capitalize())
print(x.lower())
print(y.upper())

z = "   hello hello"

print(z.strip())
print(z.replace("h", "m"))
print(x.split(" "))
print(x.endswith("!"))

Hello, world
hello, world!
HELLO, WORLD
hello hello
   mello mello
['Hello,', 'World!']
True

# slicing, formatting, concatenation

In [43]:
x = "Hi, How are you?"
print(x[::-1])
print(x[2:8:2])
name = "Mechile"
age = 30
print(f"My name is {name} and my age is {age}")
print("My name is {} and my age is {}".format(name, age))
print("My name is {0} and my age is {1}".format(name, age))
print("My name is {1} and my age is {0}".format(name, age))

?uoy era woH ,iH
,Hw
My name is Mechile and my age is 30
My name is Mechile and my age is 30
My name is Mechile and my age is 30
My name is 30 and my age is Mechile

In [40]:
x = "Hi"
y = "how are you?"
z = f"{x} {y}"
print(z)
a = x + " " + y
print(a)
print(x*4)

Hi how are you?
Hi how are you?
HiHiHiHi

# Sequence type
## list

In [45]:
# accessing, slicing, range, modifying(append, insert, remove, pop, clear)
# list methods( sort, reverse, index, count)

In [51]:
x = [1, 2, 3, 4, 5, 6, 7, 8]
print(x[::-1])
print(x[0:3])
y = list(range(0, 51))
print(y)
x.append(9)
print(x)
x.insert(5, "apple")
print(x)
x.remove("apple")
print(x)
z = x.pop(2)
a = x.pop()
print(z, a)
x.clear()
print(x)

[8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 'apple', 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
3 9
[]

## tuple
immutable

In [52]:
# accessing, slicing, 
# methods, count, index

In [54]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[0:3:1])
print(my_tuple.count(1))
print(my_tuple.index(3))

(1, 2, 3)
1
2